header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.logo i {
    margin-left: 10px;
}

.contact {
    font-size: 1.2rem;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.icon {
    margin-left: 20px;
}